.bx-im-list-collab__empty {
	--im-list-collab__font-color_empty-title: var(--im-color-palette-gray-50);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 14px;
}

.bx-im-list-collab__empty_icon {
	width: 145px;
	height: 150px;
	margin-bottom: 13px;
	background-image: url('./images/empty.svg');
}

.bx-im-list-collab__empty_text {
	text-align: center;
	max-width: 230px;
	font: var(--im-font-size-xs)/16px var(--im-font-family-system);
	color: var(--im-list-collab__font-color_empty-title);
}