.bx-im-copilot-widget-header__container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 13px 14px 13px;
	background-color: var(--im-color-palette-white-base, #fff);
	border-bottom: 1px solid var(--ui-color-base-15);
}

.bx-im-copilot-widget-header__title {
	flex: 1;
	font: var(--im-font-size-2xl) var(--im-font-family-system);
	font-weight: var(--im-font-weight-medium);
	color: var(--im-color-palette-black-base);
}

.bx-im-copilot-widget-header__actions {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 8px;
}

.bx-im-copilot-widget-header__create-chat {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 34px;
	border-radius: 80px;
	background-color: rgba(var(--ui-color-copilot-primary-rgb), 0.12);

	cursor: pointer;
}

.bx-im-copilot-widget-header__create-chat:hover {
	background-color:  rgba(var(--ui-color-copilot-primary-rgb), 0.2);
}

.bx-im-copilot-widget-header__create-chat_icon{
	--ui-icon-set__icon-color: var(--ui-color-copilot-primary);
}

.bx-im-copilot-widget-header__close {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.bx-im-copilot-widget-header__close-icon{
	--ui-icon-set__icon-color: var(--ui-color-base-40);
}